body {
  background-image: url("./img/body-back.jpg");
}

.bodyCalculate {
  margin: 50px auto;
  max-width: 300px;
  height: 500px;
  border-radius: 10%;
  opacity: 0.3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-shadow: -6px 7px 13px 3px black;

}


.bodyCalculate .scren {
  padding: 0 5px;
    height: 100px;
    max-width: 100%;
    margin: 5px;
    opacity: 0.7;
    background-color: grey;
    border-radius: 15%;
    box-shadow: 1px 1px 0px 0px black;
    display: flex;
    font-size: 50px;
    flex-direction: row-reverse;
    align-items: center;
    font-family: Arial;
    color: black;

}

/* /* .bodyCalculate .scren .showWrite{} */

/* .bodyCalculate .scren .rezult{} */

.bodyCalculate .buttons {
  opacity: 1;
  max-width: 100%;
  height: 300px;
  margin: 5px;
  border-spacing: 10px;
  user-select: none;
}



.bodyCalculate .buttons td{

  text-align: center;
  background-color: rgb(93, 124, 119);
  color: white;
  width: 15%;
  border-style: outset;
  border-radius: 20%;
  font-size: 20px;

}

.bodyCalculate .buttons td:hover {
  box-shadow: 2px 2px 5px black;
}

.bodyCalculate .buttons td:nth-child(4),
#backspace {
  background-color: rgb(233 171 9);
}
